
body{
    background-color:(200,100,150,0.5) ;
    background: center url(bgd.jgp);
   background-size: cover;
}


h1 {
    color: powderblue;
    font-size: 90px;
}

h2{
    color: palevioletred;
    font-size: 30px;
}

h3{
    color: rosybrown;
    font-size: 20px;
}

h4{
    color: whitesmoke;
    font-size: 15px;
}

h5{
    color:whitesmoke;
    font-size: 10px;
}
